<footer class="h-24 w-full bg-[#02042E] text-white-50 p-3 ">
    <div class="flex justify-evenly items-center max-w-screen-lg mx-auto">
        <img class="w-16 h-16" src="/public/assets/logoFooterPanPedia.svg" alt="">
        <p class="text-center items-center">
            © Projeto desenvolvido pelo Grupo 05 - Turma 09 <br> Versão 0.8
        </p>

        <a href="https://www.inteli.edu.br/">
            <img class="w-16 h-16" src="/public/assets/inteliLogo.png" alt="">
        </a>
    </div>
</footer>
